body{
    background-image: url("Bg.jpg");
    background-size: cover;
    font-family: verdana, helvetica, sans-serif;
}

#main{
    margin: 0 auto;
    width: 400px;
    height: 800px;
    background-color: rgba(170, 170, 170, 0.9);
    border-radius: 25px;
    padding: 20px;
}