body{
    background-image: url("Bg.jpg");
    background-size: cover;
    font-family: verdana, helvetica, sans-serif;
}

#main{
    margin: 0 auto;
    width: 900px;
    height: 700px;
    background-color: rgba(170, 170, 170, 0.9);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

#main > iframe{
    width: 800px;
    height: 600px;

}

table, tr, td{
    border: black 1px solid;
}